.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.baseLevel { 
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 15px;
  text-align: left;
}

.level {
  border-left: 2px solid black;
  display: none;
  margin-top: 10px;
  padding-left: 15px;
}

.active {
  display: block;
}

.showButton {
  margin-left: -8px;
  margin-right: 8px;
}

.showAllButton {
  margin: 15px 5px;
  width: 150px;
}

.levelContent {
  margin-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
